body{
    background-image: url("https://picsum.photos/id/684/600/400?blur=5");
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    color: aliceblue;
    font-size: large;
    text-align: center;
}
li{
    display: inline-flex;
    margin: 12rem;
    text-align: center;
}